.button {
  cursor: pointer;
  border: none;
  background-color: white;
  border-radius: 0.5rem;
  padding: 0.5rem 1rem;
  transition: all 200ms ease;
  font-weight: bold;

  &:hover,
  &:focus {
    background-color: black;
    color: white;
  }
}

.description__btn-wrapper > * {
  @extend .button;
}
