@use "main.scss";
@use "button.scss";

.favorite-colors {
  display: grid;
  gap: 0.5rem;
  margin-bottom: 1rem;
  text-align: center;
  background-color: #eee;
  border-radius: 0 0 1rem 1rem;
  @extend .main-boxes;

  &__delete-all-btn {
    @extend .button;
    letter-spacing: 0.1rem;
    text-transform: uppercase;
    font-size: 0.75rem;
    background-color: rgba(255, 0, 0, 0.4);
  }

  &__list {
    list-style-type: none;
    display: grid;
    justify-content: center;

    &-item {
      display: flex;
      justify-content: end;
      gap: 1rem;
      margin-bottom: 0.5rem;

      &-text {
        text-decoration: none;
        color: inherit;

        &:hover,
        &:focus {
          text-decoration: underline;
          cursor: pointer;
        }
      }

      &-color {
        width: 1.25rem;
        aspect-ratio: 2/1;
        background-color: #eee;
        border: 2px solid black;
      }

      &-delete-btn {
        @extend .button;
        text-transform: uppercase;
        padding: 0 0.5rem;
        background-color: lightcoral;
        border-radius: 9999px;
        font-size: 0.75rem;
      }
    }
  }
}

.empty-HTML {
  display: none;
  font-style: italic;
}
